body{
	background-color:#241717;
	font-size:20px;}
.found{
	font-size:2.2rem;
	font-weight:500;
	margin-bottom:10px;
	color:wheat}
.inner{
	padding-top:2rem;
	padding-bottom:10px;}
.second_body{
	background-color:#371B1B;
	max-width:991px;
	padding:0px 25px 20px 25px;
	min-height: 100%;
	margin-left:auto;
	margin-right:auto;}