body{
	background-color:#241717;
	font-size:20px;}
.second-body{
	background-color:#371B1B;
	max-width:991px;
	min-height: 100%;
	padding:0px 25px 20px 25px;
	margin-left:auto;
	margin-right:auto;}
.terms_center{
	color:#ddd;
	text-shadow:1.2px 1.2px 0 #ddd,2.4px 2.4px 0 #4a484b,3.6px 3.6px 0 #555256,4.8px 4.8px 0 #5f5c60;}
.inner{
	padding-top:90px;
	padding-bottom:10px;}
.fixed-top{
	max-width:991px;
	margin-left:auto;
	margin-right:auto;}
.year{
	background-color:#FF2700;
	margin-bottom:20px;
	padding:5px;
	width:100px;
	text-align:center;
	border-radius:5px;}
footer{
	background-color:#271212;
	max-width:991px;
	margin-left:auto;
	margin-right:auto;
	font-size:17px;}
