body{
	background-color:#241717;
	font-size:20px;}
.second-body{
	background-color:#371B1B;
	max-width:991px;
	min-height: 100%;
	padding:0px 25px 20px 25px;
	margin-left:auto;
	margin-right:auto;}
.navbar{
	background-color:#4F2424;
	border-bottom:2px solid #ff0000;
	font-size:17px;}
.custm-nav .navbar-nav .nav-link:hover{
	color:#fed766;}
.inner{
	padding-top:90px;
	padding-bottom:75px;}
.fixed-top{
	max-width:991px;
	margin-left:auto;
	margin-right:auto;}
.terms_center{
	color:rgb(207, 138, 111);
	text-shadow:1.2px 1.2px 0 rgb(207, 138, 111),2.4px 2.4px 0 #4a484b,3.6px 3.6px 0 #555256,4.8px 4.8px 0 #5f5c60;}
.year{
	background-color:#FF2700;
	margin-bottom:20px;
	padding:5px;
	width:100px;
	text-align:center;
	border-radius:5px;}
.archive_ul{
	list-style-type:none;}
.archive_ul a{
	color:#fed766;}
.archive_ul a:hover{
	text-decoration:none;
	color:greenyellow;}
.time{
	background-color:#424242;
	font-family:monospace;
	color:#FF8546;
	padding:2px 10px 2px 10px;
	border-radius:10cm;
	margin-right:10px;}
.archive_ul li{
	margin-bottom:10px;}

footer{
	background-color:#271212;
	max-width:991px;
	margin-left:auto;
	margin-right:auto;
	font-size:17px;}
